@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Roboto', sans-serif;
}

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
}

body {
    background: var(--background);
    height: 100vh;
}

body.has-content{
    height: 100%;
}

header {
    margin-top: 2rem;
    place-items: center;
}

header .brand img {
    height: 4rem;
}

header,
main {
    display: grid;
    justify-content: center;
}

main {
    margin-top: 2rem;
    gap: 2rem;
}

.section-search {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section-movie {
    width: 60vw;
}

.section-movie figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.section-movie figure img {
    border-radius: 5px;
    width: calc(100% - 65%);
    height: 100%;
}

.section-movie figure img.movie-not-found {
    filter: opacity(1) contrast(.5);
}

.section-movie figure figcaption {
    display: grid;
    gap: 1rem;
}

button {
    border: none;
    outline: none;
}

.search-movie {
    padding: 1rem;
    border-radius: 5px;
}

.search-movie:hover {
    cursor: pointer;
}

.search-movie figure img {
    height: 1.65rem;
}

.search-movie figure figcaption {
    font-weight: bold;
}

.section-search figure {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 2.5rem;
}

h1,
h2,
h3,
p {
    color: var(--title);
}

.img-error {
    width: 10.60rem;
    height: 15.30rem;
}

.instruction {
    width: 30vw;
    text-align: center;
}

@media (max-width: 800px) {
    header {
        text-align: center;
    }

    .section-movie figure {
        display: grid;
    }

    .section-movie figure img {
        width: 100%;
    }

    .instruction {
        width: 50vw;
    }
}